*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: black;
    text-align: center;
    font-size: 3rem;
}

div p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

li{
    display: block;
    padding: 15px 20px;
    color: rgb(4, 8, 12);
    cursor: pointer;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}
MdOutlineShoppingCart{
    width: auto;
}
.add-button{
    background-color: rgb(55, 56, 56);
    color: aliceblue;
}
button{
    background-color: rgb(247, 239, 239);
}
.badge{
    width: 20px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(192, 189, 189);
    color: rgb(12, 14, 14);
    border-radius: 50%;
}

.cartProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    border: 2px solid black;
}
summary{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
RiDeleteBin6Line{
    width: auto;
    height: auto;
    color: rgb(11, 12, 12);
    background-color: blue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container .card{
    width: 30%;
    height: auto;
    background-color: rgb(48, 47, 47);
    color: antiquewhite;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
   border: 1px solid black;
}

.checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.list-group{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
}

.calcularProducts{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
}
.ordenCompra{
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
}
.section-title h2{
    color: rgb(4, 8, 12);
    text-align: center;
    font-size: 2rem;
}
.datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 80%;
}
