*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    font-size: 1rem;
    color: aliceblue;
    justify-content: flex-end;
    display: flex;

}
h1{
    color: black;
    text-align: center;
    font-size: 3rem;
}
li{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    cursor: pointer;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}
MdOutlineShoppingCart{
    width: auto;
}
.add-button{
    background-color: rgb(55, 56, 56);
    color: aliceblue;
}
button{
    background-color: rgb(247, 239, 239);
}
.badge{
    width: 20px;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(14, 2, 2);
    color: rgb(114, 131, 131);
    border-radius: 50%;
}

cartProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
summary{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}